/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f2f2f2;
}

/* Header Styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


nav ul {
  display: flex;
  list-style: none;
}

nav li:not(:last-child) {
  margin-right: 1rem;
}

nav a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: #f44;
}

.header-text h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
color: #f44;
}

.header-text p {
  font-size: 1.25rem;
  font-weight: 300;
  color: #999;
}

/* About Section Styles */

#about {
  padding: 2rem;
}
#about h2{
  color: #f44;
  font-family: monospace;
  font-size: 2rem;
}

#about img {
  width: 100%;
  max-width: 300px;
  margin: 1rem 0;
  border-radius: 100%;
}

/* Work Section Styles */

#work {
  padding: 2rem;
}
#work h2{
  font-size: 3rem;
}
#work h2,h3{
  color: #f44;
}


.work-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

.work-item {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.work-item:hover {
  transform: translateY(-10px);
}

.work-item img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.work-item h3 {
  font-size: 1.5rem;
  margin: 1rem;
}

.work-item p {
  margin: 1rem;
  font-weight: 300;
  color: #999;
}

/* Contact Section Styles */

#contact {
  padding: 2rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #f44;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #e00;
}

/* Footer Styles */

footer {
  text-align: center;
  padding: 2rem;
}
